<% content_for :title do %>About<% end %>
<h3>About this Website</h3>
<p>
Built With Love By <%= link_to "Chan Myae San Hlaing", "http://github.com/dreamingblackcat" %> .
Special Thanks to <%= link_to "Ko Win Htaik Aung", "http://github.com/winhtaikaung" %> for inspiring and encouraging to develop it.
</p>
